@charset "utf-8";
/* CSS Document */

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1.3;
		-webkit-text-size-adjust: none;
		font-family: 'Lato', sans-serif;
		color:#151515;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/* Page Classes */

	/*header{position:fixed;top:0;left:0;height:70px;width:100%;background:#fff;z-index:99999;}*/

	#container {
	  overflow-y:scroll;
	  overflow-x:hidden;
	  transform: rotate(270deg) translateX(-100%);
	  transform-origin: top left;
	  position:absolute;
	  width:100vh;
	  height:100vw;
	  scrollbar-width: none;
	}
	#container::-webkit-scrollbar {
		display: none;
	}

	#container2 {
	  transform: rotate(90deg) translateY(-100vh);
	  transform-origin: top left;
	  white-space:nowrap;
	  font-size:0;
	}

	#container .box {
	  width:100vw;
	  height:100vh;
	  display:inline-block;
	  position:relative;
	}
	#container .box > div {
	  width:90%;
	  /*max-width:1200px;*/
	  height:80%;
	  position:absolute;
	  /*border:1px solid #F00;*/
	  margin:50px 5% 0 5%;
	}

	.timesmix-logo{
		display:block;
		width:150px;
		height:31px;
		position:fixed;
		top:10px;
		left:20px;
		background:url(../images/timesmix_logo.png) 100% no-repeat;
		z-index:99999;
	}
	.timesmix-logo-mob{
		display:none;
		width:150px;
		height:31px;
		margin:0px 0 20px 20px;
		background:url(../images/timesmix_logo.png) 100% no-repeat;
	}

	.two{text-align:center;font-size:3.25vw;}
	.three{text-align:center;}
		.three-txt{font-size:3.25vw;color:#333;}
		.app-logo-wrap{margin:70px auto;width:80%;max-width:730px;height:auto;}
		.subscribe-wrap{margin:0px auto;width:65%;max-width:1000px;min-height:70px;height:auto;}
			.email{width:68%;height:28px;border-radius:8px 0px 0px 8px;font-size:18px;border:3px solid #F00;padding:1%;line-height:1;}
			.submit{width:28%;height:49px;border-radius:0px 8px 8px 0px;font-size:18px;border:none;background:#F00;color:#fff;padding:1%;font-weight:bold;line-height:1; cursor:pointer;}
			/*.submit:hover{opacity:0.7;}*/

			.mob-form{display:none;}

			.email2{width:95%;height:28px;border-radius:8px;font-size:18px;border:3px solid #F00;padding:1%;line-height:1;/*display:none;*/}
			.submit2{width:98%;height:56px;border-radius:8px;font-size:18px;border:none;background:#F00;color:#fff;padding:1%;margin-top:20px; cursor:pointer;/*display:none;*/}
			/*.submit2:hover{opacity:0.9;}*/

			.output_message{display:none;width:70%;font-size:16px;height:auto;padding:15px 0px;margin:20px auto 0 auto;text-align:center;background:#DFF2BF;border:2px solid #4F8A10;border-radius:6px;color:#4F8A10;}

	.one-left{float:left;padding:50px 0 0 50px;}
	.one-right{float:right; background:url(../images/tphone.png) no-repeat; background-size:contain;width:380px;height:640px;}
		.slide-wrap{width:260px;height:555px;margin:27px 0 0 63px;}

	/*.two-left{margin-top:15%;float:left;}
	.two-right{margin-top:15%;float:right;}
		.google-app{width:auto;margin:25px 20px 25px 0;float:left;}
		.apple-app{width:auto;margin:25px 0 25px 0;float:left;}

	.logo{
		display:block;
		width:194px;
		height:38px;
		background:url(../images/logo.png) no-repeat;
		clear:both;
	}*/

	h1.h1-pc-only{
		 font-family: 'Lato', sans-serif;
		 font-size:6vw;
		 font-weight:900;
		 text-align:center;
		 text-transform:uppercase;
	 	 /*border:1px solid #00F;*/
	 }
	 h1.h1-mob-only{display:none;}
	/*h2{
		 font-family: 'Lato', sans-serif;
		 font-size:60px;
		 font-weight:400;
	 }

	h3{
	  	 font-family: 'Lato', sans-serif;
		 font-size:36px;
		 font-weight:700;
	 }
	p{
		 font-family: 'Lato', sans-serif;
		 font-size:24px;
	  	 font-weight:400;
	 }*/

	 .box-sep{display:none;}

	 footer{display:block;position:fixed;bottom:0;height:30px;padding-top:10px;width:90vw;font-size:14px;color:#BBB;background:#fff;text-transform:uppercase;}
	 .footer-mob{display:none;height:30px;padding-top:10px;width:100%;margin-top:70px;font-size:14px;color:#BBB;background:#fff;text-transform:uppercase;text-align:center;}

	 .pc-only{display:block;}
		 .pc-only p{color:#333;}
	 .mob-only{display:none;}


	/* Responsive CSS Styles */

	/*@media only screen and (min-width: 960px) and (max-width: 1199px) {

		#container .box > div {
		  width:90%;
		  height:90%;
		  position:absolute;
		  margin:80px 5% 0 5%;
		}
		h1{
		  font-size:72px;
		}
		h2{
		  font-size:40px;
		 }

		 h3{
		  font-size:30px;
		 }
		 p{
		  font-size:20px;
		 }

	}*/

	@media only screen and (max-width: 959px) {

		/*.logo{margin:auto;}*/

		#container {
		  overflow-y:auto;
		  overflow-x:auto;
		  transform:none !important;
		  /*position:absolute;*/
		  width:100vw;
		  height:100vh;
		  text-align:center;
	  	  scrollbar-width:auto;
		}
		#container::-webkit-scrollbar {
			display:block;
		}
		#container2 {
		  transform:none;
		  margin-bottom:2%;
		}

		#container .box {
		  width:100% !important;
		  height:100% !important;
		  position:static !important;
		  margin:auto;
		}

		.box-sep{display:block !important;clear:both !important;}

		#container .box > div {
		  width:90%;
		  max-width:none;
		  height:100%;
		  margin:0 auto;
		  position:static !important;
		}

		.timesmix-logo{
			display:none;
		}
		.timesmix-logo-mob{
			display:block;
			margin-top:10px;
		}

		/*.timesmix-logo{
			position:static !important;
			margin:10px auto 0 auto;
			border:1px solid #00F;
		}*/

		h1.h1-pc-only{
		  font-size:9vw;
		}
		/*h1 br{display:none;}*/


		.two{text-align:center;font-size:4vw;margin:80px 0 !important;}
		.two p{color:#151515;}
		.three-txt{font-size:4vw;color:#151515;}
		.app-logo-wrap{margin:40px auto;}

		.subscribe-wrap{width:80% !important;}
		.output_message{width:98% !important;}

		.email{display:none}
		.submit{display:none}

		.mob-form{display:block;}
		/*.email2{display:block;}
		.submit2{display:block;}*/

		 .one-left{margin:10% auto;float:none;padding:0;}
		 .one-right{margin:3% auto;float:none;}
			.slide-wrap{margin:none;padding-top:29px;}

		footer{display:none;}
		.footer-mob{display:block;}

	}

	@media only screen and (max-width: 479px) {
		#container .box > div { width:100%; }

		#container2 {
		  margin-bottom:5%;
		  margin-top:5%;
		}

		h1.h1-pc-only{
			display:none !important;
		}
		h1.h1-mob-only{font-size:13vw;display:block !important;
		 font-weight:800;
		 text-transform:uppercase;}

		.two{text-align:center;font-size:6vw;}
		
		.pc-only{display:none;}
		.mob-only{display:block;}
		.mob-only span{font-size:10vw !important;}

		.three-txt{font-size:6vw;}

		.one-left {width:90%; clear:both;}

		.one-right{background:none;width:100%;height:auto;}
			.slide-wrap{margin:0;padding-top:0px;width:100%;clear:both;}

	}
